name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push
      run: |
        docker build -t cicd-app .
        docker tag cicd-app:latest $ECR_URI:${{ github.run_number }}
        docker push $ECR_URI:${{ github.run_number }}

    - name: Deploy to EKS
      run: |
        sed -i 's|REPLACED_BY_PIPELINE|'$ECR_URI':'${{ github.run_number }}'|g' deployment.yaml
        kubectl apply -f deployment.yaml
        kubectl apply -f service.yaml
